@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-pink-color:#f09abf;
    --primary-blue-color:#5a84af;
    --primary-brown-color:#f2cda1;

    --primary-font-family:"Raleway", sans-serif;
    --secondary-font-family:"Lobster", sans-serif;
}

.padding-section{
    padding-top: 6rem;
}

table{
    width: 100%;
}
table img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

iframe{
    width: 100%;
    height: 350px;
}

body{
    font-family: var(--primary-font-family);
}

#greeting{
    padding-top: 120px;
}

h1,h2{
    font-family: var(--secondary-font-family);
    color: var(--primary-blue-color);
}

.navbar-background-color{
    background-color: var(--primary-blue-color);
}

.navbar a{
    color: white;
}
.navbar a:hover{
    color: var(--primary-brown-color);
}
.carousel .carousel-item img{
    height: 420px;
    min-width: auto;
  }

.carousel-control-prev-icon{
    position: absolute;
    left: 10%;
    top: 50%;
}
.carousel-control-next-icon{
    position: absolute;
    right:10%;
    top: 50%;

}
#logo{
    width: 70px;
    height: 70px;
}

#greeting span{
    color: var(--primary-blue-color);
}

#open-time{
    padding: 20px;
    background-color: var(--primary-blue-color);
    color: white;
}


.card{
    margin-top: 20px;
}

.card img{
    height: 334px;
}


.card p{
    height: 48px;
}

.card-title{
    color: var(--primary-blue-color);
}
.card-footer{
    background-color: white;
}
#open-time{
    background-color: var(--primary-blue-color);
}

canvas{
    border: 2px solid black;
    width: 100%;   
    border: 2px solid var(--primary-blue-color); 
}

.my-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


#ice-cream-flavors{
    margin-top: 20px;
}



#volum-size{
    width: 100%;
}

#ice-cream-flavors .my-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-card h5{
    font-size: 15px;
}
.my-card .btn-primary{
    background-color: white;
    color: var(--primary-blue-color);
    border: 1px solid var(--primary-blue-color);
}
#contact h1{
    color: white;
}


.table>:not(caption)>*>*{
    background-color: transparent;
    color: white;
}



/* Login Page */
#login{
    margin-top: 120px;  

}
#login img{
    width: 250px;
    height: 300px;
}

.btn-primary{
    background-color: white;
    color: var(--primary-blue-color);
}

.btn-primary:hover{
    background-color: var(--primary-blue-color);
    color: white;
}

#login a{
    color: var(--primary-blue-color);
}


#signup-form{
    margin-top: 120px;  
}

#signup-form .btn{
    margin-top: 32px;
}



@media screen and (min-width:768px) {
    #icecream{
        margin-top: 30px;
    }  
    #address{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #signup-form button{
        padding-top: 44px;
    }

    #make-your-icecream{
        height: 300px;
        margin-bottom: 150px;
    }
    #ice-cream-flavors{
        height: 250px;
        overflow: auto;
    }

}
@media screen and (min-width:992px) {
    #make-your-icecream{
        height: 430px;
        margin-bottom: 150px;
    }
    #ice-cream-flavors{
        height: 400px;
        overflow: auto;
    }
    
}