@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-pink-color:#f09abf;
    --primary-blue-color:#5a84af;
    --primary-brown-color:#f2cda1;

    --primary-font-family:"Raleway", sans-serif;
    --secondary-font-family:"Lobster", sans-serif;
}


body{
    font-family: var(--primary-font-family);
}

#greeting{
    padding: 80px;
}

h1{
    font-family: var(--secondary-font-family);
    color: var(--primary-blue-color);
}
.navbar-background-color{
    background-color: var(--primary-blue-color);
}

.navbar a{
    color: white;
}
.navbar a:hover{
    color: var(--primary-brown-color);
}
.carousel .carousel-item {
    height: 470px;
    min-width: auto;
  }


#logo{
    width: 70px;
    height: 70px;
}

#greeting strong{
    color: var(--primary-blue-color);
}


/* #icecream img{
    height: 400px;
} */